-form_for :user, url(:users, :create) do |f|

	=f.label :email
	=f.text_field :email
	=f.error_message_on :email
	
	%br 
	%br
	
	=f.label :password
	=f.password_field :password
	=f.error_message_on :password
	
	%br
	%br 
	
	=f.label :password_confirmation
	=f.password_field :password_confirmation
	=f.error_message_on :password_confirmation
	
	%br
	%br
	
	=f.submit "Create"
